/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* синий #2196F3 */
/* белый #FFFFFF */
/* банер фон #2F303A */

ul {
    list-style: none;
}

p{
    color: var(--secondary-text-color);
}

/* Кнопка */
.button-s{
    color: var(--white);
    background-color: var(--blue);
} 

.button-p{
    color: var(--primery-text-color);
    background-color: #F5F4FA;
}

.button-p:hover,
.button-p:focus{
    color: var(--white);
    background-color: var(--blue);
}

/* Банер */

.center{
    background-color: var(--banner);
    color: var(--white);
} 

/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* синий #2196F3 */
/* белый #FFFFFF */
/* бфнер фон #2F303A */
/* подвал текст rgba(255, 255, 255, 0.6)*/